@import "tailwindcss";

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("/fonts/din-next-lt-arabic-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Bold";
  src: url("/fonts/din-next-lt-arabic-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Medium";
  src: url("/fonts/din-next-lt-arabic-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-din-arabic: "DIN Next LT Arabic", sans-serif;
  --font-din-arabic-bold: "DIN Next LT Arabic Bold", sans-serif;
  --font-din-arabic-medium: "DIN Next LT Arabic Medium", sans-serif;

  --color-lightest-gray: #eeeeee;
  --color-lighter-gray: #f8f8f8;
  --color-light-gray: #a5a5a5;
  --color-dark-gray: #666666;
  --color-body-gray: #dfdfde;
  --color-yellow: #fcbd02;

  --text-xs-1: 0.813rem;

  --hero-banner-desktop: url("./assets/hero-banner-desktop.png");
  --small-banner-left: url("./assets/small-banner-left.png");
  --small-banner-right: url("./assets/small-banner-right.png");
  --small-banner-desktop: url("./assets/banner-small-desktop.png");
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-din-arabic), sans-serif;
  }

  h1 {
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0em;
  }
  h2 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0em;
    line-height: 1.388em;
  }
}
