@import "tailwindcss";

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("/fonts/din-next-lt-arabic-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Bold";
  src: url("/fonts/din-next-lt-arabic-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic Medium";
  src: url("/fonts/din-next-lt-arabic-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-din-arabic: "DIN Next LT Arabic", sans-serif;
  --font-din-arabic-bold: "DIN Next LT Arabic Bold", sans-serif;
  --font-din-arabic-medium: "DIN Next LT Arabic Medium", sans-serif;

  --color-lightest-gray: #eeeeee;
  --color-lighter-gray: #f8f8f8;
  --color-light-gray: #a5a5a5;
  --color-dark-gray: #666666;
  --color-body-gray: #dfdfde;
  --color-yellow: #fcbd02;
  --color-pink: #f55157;
  --text-xs-1: 0.813rem;

  --hero-banner-desktop: url("./assets/hero-banner-desktop.png");
  --small-banner-left: url("./assets/small-banner-left.png");
  --small-banner-right: url("./assets/small-banner-right.png");
  --small-banner-desktop: url("./assets/banner-small-desktop.png");
}

@layer base {
  html {
    direction: rtl;
    font-family: var(--font-din-arabic), sans-serif;
  }

  h1 {
    font-family: var(--font-din-arabic-bold);
    font-size: var(--text-5xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0em;
  }

  h2 {
    font-family: var(--font-din-arabic-medium);
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0em;
    line-height: 1.388;
  }

  h3 {
    font-family: var(--font-din-arabic-medium);
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    letter-spacing: 0em;
    line-height: 1.46;
  }

  h4 {
    font-family: var(--font-din-arabic-medium);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-xl);
    letter-spacing: 0em;
    line-height: 1.5;
  }

  h5 {
    font-family: var(--font-din-arabic-medium);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-lg);
    letter-spacing: 0em;
    line-height: 1.39;
  }

  h6 {
    font-family: var(--font-din-arabic);
    font-weight: var(--font-weight-normal);
    font-size: var(--text-sm);
    letter-spacing: 0em;
    line-height: 1;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: unset !important;
  width: unset !important;
  height: unset !important;
  z-index: unset !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  cursor: pointer !important;
  margin: unset !important;
}

/* Default bullets */
.custom-pagination .swiper-pagination-bullet {
  @apply w-3.5 h-3.5 bg-transparent border border-gray-300 rounded-full mx-1;
  transition: all 0.3s;
}

/* Active bullet */
.custom-pagination .swiper-pagination-bullet-active {
  @apply w-9.25 h-3.5 bg-yellow-400 rounded-full;
  border: none; /* remove border */
}
